.headerRecentPost {
    font-weight: 900;
    font-size: 2rem;
    color: #243E63;
    margin-bottom: 2.5rem;
}

@media (max-width: 960px) {
    .headerRecentPost {
        font-weight: 700;
        font-size: 2rem;
        color: #243E63;
        margin: 1rem;
    }
}