.headerRecentPost {
    font-weight: 900;
    font-size: 2rem;
    color: #243E63;
}

.headerResponsiveRecentPost {
    font-weight: 700;
    font-size: 2rem;
    color: #243E63;
    margin-top: 3rem;
}