.div {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #16253b;
}
.titleBlog {
    font-weight: 700;
    font-size: 3rem;
}
.descriptionBlog {
    font-weight: 700;
    font-size: 1rem;
    margin-top: 4rem;
}
.divResponsiveBlog {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #16253b
}
.titreResponsiveBlog {
    font-weight: 700;
    font-size: 1.8rem
}
.descriptionResponsiveBlog {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 3rem
}