.popular-posts {
    display: flex;
    flex-wrap: wrap;
    margin-right: 64px;
}

.link-popular-post {
    color: #4299e1;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.link-popular-post:hover {
    text-decoration: none;
    color: #243E63;
}

.title-populars-posts {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position: relative;
    margin-top: 1.5rem;
    color: #243E63;
}

.title-populars-posts:hover {
    cursor: pointer;
    color: #4299e1;
}

.foot-populars-posts {
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #243E63
}

.footer-populars-posts {
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    color: #243E63
}

.post:hover {
    cursor: pointer;
}

.image-populars-posts {
    width: 385px;
    height: 280px;
    border-radius: 8px;
    object-fit: cover;
    margin: 1rem 0rem 0rem 0rem;
    transition: transform 0.3s ease;
}

.image-populars-posts:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 767px) {

    .title-populars-posts {
        margin-top: 1rem;
        font-size: 1rem;
        margin-left: 2rem;
    }

    .image-populars-posts {
        width: 300px;
        height: 180px;
        border-radius: 8px;
        margin-left: 2rem;
        object-fit: cover
    }

    .popular-posts {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0rem 1rem 0rem 1rem;
    }

    .link-popular-post {
        margin-left: 2rem;
    }

    .stack-populars-posts{
        margin-left: 2rem;
    }

    .post-popular-body{
        margin-left: -2rem;
    }
}