.rootDownload {
    background-color: #3B82F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
  }
  
  .contentDownload {
    padding: 30px;
  }
  
  @media (max-width: 960px) {
    .contentDownload {
      padding: 15px;
    }
  }
  
  .rootResponsive {
    background-color: #3B82F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
  }
  
  .contentResponsive {
    padding: 30px;
  }
  
  @media (max-width: 960px) {
    .contentResponsive {
      padding: 15px;
    }
  }

.titleDownload {
    font-size: 1.5rem;
    color: #16253b;
    font-weight: 700;
}

.subtitleDownload { 
    font-weight: 900;
    font-size: 3.2rem;
    display: flex;
    margin-top: 12px;
    color: #fff;
    line-height: 1.4;
}

.playStore {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: none;
    color:#fff;
}

.playStore span {
    margin-left: 6px;
}

.appStore {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: none;
    color:#243E63;
}

.appStore span {
    margin-left: 6px;
}

/* .button:hover {
    background-color: #0069d9;
} */

.titleDownloadResponsive {
    color: #16253b;
}

.subtitleDownloadResponsive { 
    color: #fff;
}